In [44]:
import pandas as pd
import numpy as np
import os

In [45]:
os.chdir('C:/Users/Administrator/Documents/python/class/Python Assignments/DataSets')
os.getcwd()

'C:\\Users\\Administrator\\Documents\\python\\class\\Python Assignments\\DataSets'

In [46]:
air = pd.read_csv('airquality.csv')

In [4]:
air.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## Queries

### 1. Fetch the observations for 9 day of June

In [5]:
air[(air.Month == 6) & (air.Day == 9)]

    Ozone  Solar.R  Wind  Temp  Month  Day
39   71.0    291.0  13.8    90      6    9

### 2. Find Average temperature for the month of June.

In [6]:
air[air.Month == 6].Temp.mean()

79.1

### 3. To which day of June has the least temperature

In [7]:
mon = air[air.Month == 6]
mon[mon.Temp == mon.Temp.min()].Day.min()

18

### 4. Find Maximum Ozone value for the month of May

In [8]:
air[air.Month == 5].Ozone.max()

115.0

### 5. Find the count of the missing values in the ozone column of the data set

In [11]:
air.Ozone.isnull().sum()

37

### 6. Find out What is the mean of the Ozone column in this dataset

In [12]:
air.Ozone.mean()

42.12931034482759

### 7. Find out which month has the highest temperature

In [17]:
air[air.Temp == air.Temp.max()].Month.max()

8

### 8. Find out the wind value when the Ozone becomes maximum

In [32]:
air[air.Ozone == air.Ozone.max()].Wind.values

array([ 3.4])

### 9.	Find out the months for which the airquality observations have been carried out

In [30]:
air.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

### 10.	Find the Ozone and temperature values for the 1st observation of every month.

In [33]:
air[air.Day == 1][['Ozone', 'Temp']]

     Ozone  Temp
0     41.0    67
31     NaN    78
61   135.0    84
92    39.0    81
123   96.0    91

### 11. Which day of which month corresponds to the least Ozone Value.

In [34]:
air[air.Ozone == air.Ozone.min()][['Month','Day','Ozone']]

    Month  Day  Ozone
20      5   21    1.0

### 12. Convert the temperature for all the observations to Centigrade scale

In [47]:
def to_cent(temp):
    return list(map(lambda x:round((x - 32)*5/9, 1), temp))
air.Temp = to_cent(air.Temp)