In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir('C:/Users/Administrator/Documents/python/class/Python Assignments/DataSets')
os.getcwd()

'C:\\Users\\Administrator\\Documents\\python\\class\\Python Assignments\\DataSets'

In [3]:
store = pd.read_csv('Store.csv', encoding = 'latin')

In [4]:
store.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [8]:
store.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [7]:
store['Order Date'][60:70]

60     6/18/2013
61     6/18/2013
62    11/24/2012
63    11/24/2012
64    11/24/2012
65    11/24/2012
66     4/30/2012
67     12/5/2011
68     12/5/2011
69      6/5/2013
Name: Order Date, dtype: object

In [9]:
store.shape

(9994, 21)

In [ ]:
store['Product ID'].nun

## Queries

### 1. How many unique cities are the orders being delivered to

In [7]:
store.City.nunique()

531

### 2. What is the total quantity sold in the East Region?

In [16]:
store[store.Region == 'East'].shape[0]

2848

### 3. Find the sum of the quantity sold in the East Region

In [17]:
store[store.Region == 'East'].Quantity.sum()

10618

### 4. In the south region sort the sales in decreasing order

In [25]:
store[store.Region == 'South'].Sales.sort_values(ascending = False)

2697    22638.480
8488     8749.950
683      7999.980
509      6354.950
4297     4367.896
9639     4297.644
3280     4164.050
7583     3499.930
4093     3080.000
1454     3040.000
5562     2999.950
8312     2939.930
8236     2803.920
994      2715.930
2848     2690.970
4128     2624.985
7474     2573.820
3580     2430.080
5320     2314.116
5300     2275.500
4881     2249.910
1155     2244.480
8699     2239.936
8680     2104.550
5301     1979.700
8993     1875.258
7846     1871.880
1433     1819.860
5185     1801.632
9033     1793.980
          ...
3381        2.896
8850        2.892
865         2.890
3589        2.880
7573        2.840
7805        2.816
2217        2.816
2120        2.808
4155        2.808
4300        2.784
5893        2.780
2665        2.742
506         2.740
3687        2.694
8207        2.624
8579        2.610
4913        2.508
8215        2.469
2779        2.376
4878        2.214
5440        2.064
3769        1.984
7311        1.872
5479        1.869
4005        1.780
8317        1.752
7900        1.584
6597        1.365
9382        1.344
2605        1.167
Name: Sales, Length: 1620, dtype: float64

### 5. Find the mean of quantity for every region

In [26]:
store.groupby('Region').Quantity.mean()

Region
Central    3.779595
East       3.728230
South      3.832716
West       3.829535
Name: Quantity, dtype: float64

### 6. Find the mean of sales for every category

In [27]:
store.groupby('Category').Sales.mean()

Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

### 7. Find the max, min, sum of sales and profit for every category

In [31]:
store.groupby('Category').agg({'Sales':['max','min','sum'], 'Profit':['max','min','sum']})

                     Sales                        Profit             \
                       max    min          sum       max        min
Category
Furniture         4416.174  1.892  741999.7953  1013.127 -1862.3124
Office Supplies   9892.740  0.444  719047.0320  4946.370 -3701.8928
Technology       22638.480  0.990  836154.0330  8399.976 -6599.9780


                         sum
Category
Furniture         18451.2728
Office Supplies  122490.8008
Technology       145454.9481

### 8. Find sum of sales and max profit for every segment

In [7]:
store.groupby('Segment').agg({'Sales':'sum','Profit':'max'})

                    Sales     Profit
Segment
Consumer     1.161401e+06  6719.9808
Corporate    7.061464e+05  8399.9760
Home Office  4.296531e+05  3919.9888

### 9. For every segment find the mean of the discount

In [8]:
store.groupby('Segment').Discount.mean()

Segment
Consumer       0.158141
Corporate      0.158228
Home Office    0.147128
Name: Discount, dtype: float64

### 10. For every segment find the most profitable customers

In [17]:
def Customer_Name(pro):
    pro = pro.max()
    return store[store.Profit == pro]['Customer Name']
store.groupby('Segment').agg({'Profit': [Customer_Name,'max']})

                   Profit
            Customer_Name        max
Segment
Consumer     Raymond Buch  6719.9808
Corporate    Tamara Chand  8399.9760
Home Office  Tom Ashbrook  3919.9888

### 11. What are the top 5 categories that give maximum profit?

In [29]:
store.groupby('Sub-Category').agg({'Profit': 'max'}).Profit.sort_values(ascending = False)[0:5]

Sub-Category
Copiers      8399.9760
Binders      4946.3700
Machines     2799.9840
Phones       1228.1787
Bookcases    1013.1270
Name: Profit, dtype: float64

### 12. What is the Total Sales, Quantity, Discount, Profit across Total US.

In [36]:
store[['Sales', 'Quantity', 'Discount', 'Profit' ]].agg({np.sum})

            Sales  Quantity  Discount       Profit
sum  2.297201e+06     37873   1561.09  286397.0217

### 13. How many times has it taken more than 5 days from placing an order to shipping

In [42]:
days = pd.to_datetime(store['Ship Date']) - pd.to_datetime(store['Order Date'])
sum(days > '5 days')

1822

In [37]:
store.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

### 14. Find the total number of orders in every category which has been shipped with a duration > 5 days

In [40]:
store['d5'] = (pd.to_datetime(store['Ship Date']) - pd.to_datetime(store['Order Date'])) > '5 days'
store.groupby('Category').d5.sum()

Category
Furniture           365.0
Office Supplies    1131.0
Technology          326.0
Name: d5, dtype: float64

### 15. What’s the percentage of items which has been shipped within 5 days

In [47]:
days = pd.to_datetime(store['Ship Date']) - pd.to_datetime(store['Order Date'])
sum(days <= '5 days')/len(days) * 100

81.769061436862117

### 16. What’s the percentage of items which has been shipped after 5 days

In [48]:
days = pd.to_datetime(store['Ship Date']) - pd.to_datetime(store['Order Date'])
sum(days > '5 days')/len(days) * 100

18.230938563137883