In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.chdir('C:/Users/Administrator/Documents/python/class/Python Assignments/DataSets')
os.getcwd()

'C:\\Users\\Administrator\\Documents\\python\\class\\Python Assignments\\DataSets'

In [4]:
terror = pd.read_csv('terror.csv', encoding = 'latin')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4,61,62,66,116,117,123) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
terror.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,0,0,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [6]:
terror.shape

(156772, 137)

## Queries

### 1 How many attacks happened in India?

In [19]:
terror[terror.country_txt == 'India'].shape[0]
sum(terror.country_txt == 'India')

9940

### 2 How many attacks happened in India and upto 3 people were killed?

In [30]:
sub = terror[(terror.country_txt == 'India') & (terror.nkill < 3)]
sub[sub.nkill %1 != 0].nkill

116769    0.5
116770    0.5
121220    0.5
121221    0.5
130867    0.5
130868    0.5
Name: nkill, dtype: float64

In [32]:
terror[(terror.country_txt == 'India') & (terror.nkill < 3)].shape[0]

7961

In [15]:
terror.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO',
       'INT_MISC', 'INT_ANY', 'related', 'condition'],
      dtype='object', length=138)

### 3 Extract the city and summary for attacks above

In [36]:
sub[['city','summary']]

                     city                                            summary
1185            New Delhi                                                NaN
3780            New Delhi                                                NaN
5251               Bombay                                                NaN
8609              Unknown                                                NaN
8755              Unknown                                                NaN
8977               Amapur                                                NaN
9037             Raisikah                                                NaN
9040             Champhai                                                NaN
9070               Aizawl                                                NaN
9072           Jamshedpur                                                NaN
9081            New Delhi                                                NaN
9082            New Delhi                                                NaN
9691              Unknown                                                NaN
9732              Unknown                                                NaN
9841               Imphal                                                NaN
9887              Unknown                                                NaN
10407           Chiaplant                                                NaN
10522            Calcutta                                                NaN
10744           New Delhi                                                NaN
12187             Unknown                                                NaN
12391             Unknown                                                NaN
12439             Unknown                                                NaN
13049             Gauhati                                                NaN
13177              Jorhat                                                NaN
13875             Unknown                                                NaN
14058             Unknown                                                NaN
14059             Unknown                                                NaN
14287              Massad                                                NaN
14371           New Delhi                                                NaN
14476          Chandigarh                                                NaN
...                   ...                                                ...
156156         Dariyakona  12/15/2015: Assailants abducted Baghel Gond fr...
156176           Awapalli  12/15/2015: An explosive device detonated in A...
156243           Srinagar  12/17/2015: Assailants fired a rifle grenade a...
156248             Imphal  12/17/2015: An explosive device detonated in D...
156249       Williamnagar  12/17/2015: Assailants threw a grenade at a st...
156292     Pookottumpadam  12/18/2015: Assailants attacked an Indian Fore...
156314        Kalia Atala  12/19/2015: Assailants torched an Airtel cell ...
156339           Chipakur  12/20/2015: Assailants torched an under-constr...
156340            Kakpora  12/20/2015: Assailants threw a grenade at the ...
156383    Bastar district  12/21/2015: Security forces arrested three ass...
156384       Madathakonda  12/21/2015: Assailants abducted and killed Van...
156385       Madathakonda  12/21/2015: Assailants beat a civilian in Mada...
156388       Badapokharia  12/21/2015: Assailants threw at least nine cru...
156389      Simra Nizamat  12/21/2015: Police discovered and defused two ...
156433             Imphal  12/22/2015: Assailants shot and killed a baker...
156458           Nilawaya  12/23/2015: Assailants abducted Hadma Ram, a f...
156459             Imphal  12/23/2015: An explosive device planted under ...
156483          Bijbehara  12/24/2015: Assailants opened fire on police p...
156499            Ramgarh  12/24/2015: Assailants detonated explosive dev...
156529          Badapadar  12/25/2015: Assailants attacked Jayaram Khara ...
156530  Kudumulgumma Raba  12/25/2015: Assailants attacked Sahdev Badanay...
156533          Sivasagar  12/25/2015: Security forces discovered and def...
156569             Pariya  12/26/2015: Assailants abducted Sujit Modiyami...
156612           Tillayya  12/26/2015: An assailant attempted to plant an...
156658            Mendhar  12/27/2015: An explosive device planted under ...
156695              Terem  12/29/2015: Assailants abducted three students...
156698         Peravurani  12/29/2015: An explosive device was discovered...
156713          Tulsibari  12/29/2015: Assailants abducted Hazrat Ali in ...
156725            Zhutovi  12/30/2015: Assailants attempted to extort mon...
156756           Srinagar  12/31/2015: Assailants threw a grenade at an I...

[7961 rows x 2 columns]

In [35]:
sub.city.describe()

count         7961
unique        3158
top       Srinagar
freq           525
Name: city, dtype: object

### 4 In a single terror incident in India, find out top 5 cities by number killed

In [49]:
terror[terror.country_txt == 'India'].groupby('city').nkill.max().sort_values(ascending = False).head(5)

city
Mumbai                188.0
Bombay                115.0
Jhargam               115.0
Dantewada district     82.0
Banabari               70.0
Name: nkill, dtype: float64

### 5 In a single terror incident in India, find out top 5 cities by number killed and wounded

In [9]:
terror['damage'] = terror.nkill + terror.nwound
terror[terror.country_txt == 'India'].sort_values('damage', ascending = False).head().city.values

array(['Mumbai', 'Dispur', 'Jhargam', 'Chennai', 'New Delhi'], dtype=object)

### 6 How many attacks were successful that were suicide attacks?

In [11]:
terror[(terror.suicide == 1) & (terror.success == 1)].shape[0]

4260

### 7 label all the incidents where the number killed was more than 5 as severe.

In [9]:
terror['condition'] = ['Severe' if x > 5 else 'Not severe' for x in terror.nkill]

### 8 write a function to label an incident that was both successful and suicidal

In [8]:
def check_s(df):
    return np.where((df.suicide == 1) & (df.success == 1), 'Sucessfull suicide', 'no sucess')
check_s(terror)

array(['no sucess', 'no sucess', 'no sucess', ..., 'no sucess',
       'no sucess', 'no sucess'],
      dtype='<U18')

### 9 Create a new category representing if the incident occured in Afghanistan, Pakistan or India as one level of the category and all the other countries as another level

In [18]:
terror['is_asian'] = ['asian' if x in ['Afghanistan', 'Pakistan', 'India'] else 'not asian' for x in terror.country_txt]

not asian    124374
asian         32398
Name: is_asian, dtype: int64

### 10 How many incidents happened in Af-Pak-India vs ROW?

In [1]:
terror[['Afghanistan', 'Pakistan', 'India']]

NameError: name 'terror' is not defined

### 11 List the number of suicides attacks and average kills by Af-Pak-India vs ROW. Rename columns in the output as Average_Kills and Number_Incidents.